<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Remote file for Bootstrap Modal</title>  
      <link href="toastr/toastr.css" rel="stylesheet"/>
      <script src="toastr/toastr.js"></script>
      <style>
      toastr.options = {
        "closeButton": false,
        "debug": false,
        "positionClass": "toast-top-right",
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
      </style>
</head>
<body>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.6/angular.min.js'></script>
  <script src="baby.js"></script>

				<div class="modal-header" ng-app="myapp" ng-controller="MainController">
                    <h4>Create an Event</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                            <input class="form-control" placeholder="Your Event's Name" name="name" id="name" type="text" ng-model="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-lg-2 control-label">Date:</label>
                        <div class="col-lg-10">
                            <input class="form-control" placeholder="Date of Event" name="date" id="date" type="text" ng-model="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="time" class="col-lg-2 control-label">Time:</label>
                        <div class="col-lg-10">
                            <input class="form-control" placeholder="What time does the party start?" name="time" id="time" type="text" ng-model="time">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-lg-2 control-label">Building:</label>
                        <div class="col-lg-10">
                            <input class="form-control" placeholder="Where's the part at?" name="loc" id="loc" type="text" ng-model="building">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-lg-2 control-label">Description:</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" name="des" id="des" placeholder="What's your event?" ng-model="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-lg-2 control-label">Background Image:</label>
                        <div class="col-lg-10">
                            <input class="form-control" placeholder="Paste a link to an image" name="loc" id="url" type="text" ng-model="url">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <style>
                                #map-container { width: 100%; height: 300px; margin: 10px; padding-right: 10px;}
                                #checks { }
                            </style>

                            <div id="map-container">

                                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                                <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
                                <!-- Include all compiled plugins (below), or include individual files as needed -->
                                <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>

                          <div class="col-lg-2">
                            <form action="">
                                <input type="checkbox" name="extras" value="Food" title="Will there be food?"> <span class="glyphicon glyphicon-cutlery" title="Will there be food?"></span>

                                <input type="checkbox" name="extras" value="Paid" title="Is this a paid event?"> <span class="glyphicon glyphicon-usd" title="Is this a paid event?"></span>

                                <input type="checkbox" name="extras" value="Speaker" title="Will there be any special guests?"> <span class="glyphicon glyphicon-user" title="Will there be any special guests?"></span>

                                <input type="checkbox" name="extras" value="Giveaway" title="Will there be give aways or prizes?"> <span class="glyphicon glyphicon-tower" title="Will there be give aways or prizes?"></span>

                            </form>
                        </div>

                    </div>
                    
                </div>
                <div class="modal-footer">
                  <a href="#" id="closeModal" class="btn btn-default" data-dismiss="modal">Close</a>
                  <a ng-click="createEvent($event)" href="#" class="btn btn-info" data-dismiss="modal">Create Event</a>
                </div>

</body>
</html>
